.main {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #e5e7eb;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
}

.header .right-links {
    display: flex;
    gap: 20px;
    margin-right: 30px;
}
.contenedor {
    background-color: #e5e7eb ;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0px;

}
.parrafo {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-style: italic ;
    justify-content: center;
    text-align: start;
}

.thor {
    text-align: end;
    font-size: 36px;
    font-weight: bolder;
}

.final {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #e5e7eb;
    padding: 20px;
    background-color: #1f2937;
}

.action {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 100px;
    padding: 20px;
    background-color: #3882F6;
}

.texto {
    color: #1f2937;
    font-size: 18px;
}
